<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  //primera clase 5-agosto-2019
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>{{var1 + var2}}</h2>
  <hr>
  <button [disabled]="deshabilitado" (click)="ejecutar()">clic aqui</button>
  <hr/>
  <input type="text" placeholder="Nombre" [(ngModel)]="Nombre"/>
  <br/> 
  Nombre:{{Nombre}}
</div>
<br>
<br>
<div style="text-align:center">
//tarea hacer calculadora 
  <h1> 
   Calculadora 
  </h1>
  <hr>
  <input type="number" placeholder="Ingrese numero" [(ngModel)]="num1">
  <input type="number" placeholder="Ingrese numero" [(ngModel)]="num2">
  <p>El resultado es {{rta}}</p>
  <br>
  <button (click)="operacion(num1,num2,'suma')">SUMAR</button>
  <br>
  <button (click)="operacion(num1,num2,'resta')">RESTAR</button>
  <br>
  <button (click)="operacion(num1,num2,'multiplicacion')">MULTIPLICAR</button>
  <br>
  <button (click)="operacion(num1,num2,'dividir')">DIVIDIR</button>
  <br>
  <button (click)="operacion(num1,num2,'modulo')">MODULO</button>
  <br>
  <button (click)="reset()">LIMPIAR</button>
</div>
<br>
<br>
<div style="text-align:center">
  <h1> 
    Calculadora 
  </h1>  
    <input type="number" class="form-control" placeholder="Ingrese Valor 1" id="val1" [(ngModel)]="val1">
<input type="number" class="form-control" placeholder="Ingrese Valor 2" id="val2" [(ngModel)]="val2"> 

<br>
<button class="btn btn-primary" (click)="Operacion()"> Hacer operacion </button>
<button class="btn btn-second" (click)="clear()"> Limpiar </button>
  <br>
El Resultado de la suma es ={{sum}}
<br>
 <br>
El Resultado de la resta es ={{res}}
<br>
 <br>
El Resultado de la multiplicacion es ={{mult}}
<br>
 <br>
El Resultado de la division es ={{div}}
<br>
<br>
El resultado del modulo es ={{mod}}
 <br>
 <br>


</div>  
<br>
<br>

<div style="text-align:center">
  //clase 21-agosto-2019
  <h1> Paises </h1> 
 <ul>
  <ng-container *ngFor="let pais of paises"> 
   <li *ngIf= "pais.activo">{{pais.nombre}}</li>
  </ng-container>
 </ul>
  <div>
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> 
      </agm-map>
 </div>
 </div>}
 
<div style="text-align:center">
    // clase 26-agosto-2019
  <ul>
    <ng-container *ngFor="let pais of paises">
      <li [ngStyle]="{color:(pais.activo) ? 'black' : 'gray'}">{{pais.nombre}}</li>
    </ng-container>
  </ul>

</div>
<br>
<br>
<div style="text-align:center">
  <ul>
    <ng-container *ngFor="let pais of paises; let i = index">
      <li [ngStyle]="{color:(pais.activo) ? 'black' : 'gray'}"
          [ngClass]= "{numero_par: (i + 1) % 2 !== 0}">{{pais.nombre}}</li>
    </ng-container>
  </ul>

</div>
<br>
<br>
<div style="text-align:center">
  <ul>
    <ng-container *ngFor="let pais of paises; let i = index"[ngSwitch]="pais.cercano">
      <li [ngStyle]="{color:(pais.activo) ? 'black' : 'gray'}"
          [ngClass]= "{numero_par: (i + 1) % 2 !== 0}">
          {{pais.nombre}} - 
          <span *ngSwitchCase=1>Cerca</span>
          <span *ngSwitchCase=2>Lejos</span>
          <span *ngSwitchCase=3>Muy lejos</span>
        </li>
    </ng-container>
  </ul>

</div>
